<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.rogerp91.mao_trailer_android.mao_trailer.application">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_ic_launcher"
        android:label="@string/app_app_name"
        android:supportsRtl="true"
        android:theme="@style/app_Theme.NoActionBar.MaoTrailer">
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:theme="@style/app_Theme.NoActionBar.MaoTrailer.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.MainNavigationActivity"
            android:exported="true" />
    </application>

</manifest>